<div id="campaignListHolder">
    {{#each campaigns}}
        <div class="campaignItem {{campaign.name}}">
            <a href="#">{{campaign.name}}</a>
        </div>
    {{/each}}
</div>
<div id="newCampaign">
    <a href="#">+</a>
</div>