<div id="campaignBuilder">
    <div id="campaignHeader">
        <form id="newCampaignForm">
            <input name="campaignName" placeholder="Campaign Name" />
            <input type="submit" value="Add campaign" />
        </form>
        <div id="url" class="invisible">
        </div>
        <div class="planetCreator hidden">
            <form class="newPlanet">
                <input name="planetName" placeholder="Planet name"></input>
                <input type="number" name="territories"></input>
            </form>
        </div>
    </div>
    <div id="planetCreation">
    </div>
</div>