<div id="campaignBuilder">
    <div id="campaignHeader">
        <form id="newCampaignForm">
            <input name="campaignName" placeholder="Campaign Name"></input>
            <div id="url" class="invisible">
            </div>
            <button action="submit" name="Submit">Add campaign</button>
        </form>
        
        <div id="submitButton">
        </div>
    </div>
    <div id="planetCreation">
    </div>
</div>