<div id="campaignHeader"></div>
<form id="newCampaignForm" action="newCampaign" method="post">
    <input name="campaignName" placeholder="New Campaign Name" id="campaignNameTxt"/>
    <div id="factionCreationViews" class="hidden">
        <div id="factionList">
            {{> newFactionPartial}}
        </div>
        <div id="newFactionCreatorButton">
            <a href="#">+</a>
        </div>
    </div>
    <div id="planetCreationViews" class="hidden">
        <div id="planetList">
            {{> newPlanetPartial}}
        </div>
        <div id="newPlanetCreatorButton">
            <a href="#">+</a>
        </div>
    </div>
    <input type="button" value="Done" id="createCampaignButton" class="hidden"/>
</form>
<div id="url" class="hidden">
</div>
<div id="planetCreation">
</div>