<div id="slide-holder">
    {{#each campaign.planets}}
        <div id="{{uid}}" class="planet-slide">
            <canvas id="canvas-{{uid}}"class="planet-canvas" width="300" height="300"></canvas>
        </div>
    {{/each}}
</div>