<div id="campaignListHolder">
    {{#each campaigns}}
        <div class="campaignItem {{campaign.name}}">
            <a href="#/{{_id}}">{{campaign.name}}</a>
        </div>
    {{/each}}
    <div class="newCampaignButton">
        <a href="#/create">Create new campaign</a>
    </div>
</div>