<div id="wrapper">
    <div id="header">
    </div>
    <div id="content">
    </div>
    <div id="nav">
        <div class="navItem">
            <a href="#">item1</a>
        </div>
        <div class="navItem">
            <a href="#">item2</a>
        </div>
        <div class="navItem">
            <a href="#">item3</a>
        </div>
        <div class="navItem">
            <a href="#">item4</a>
        </div>
    </div>
</div>