<div id="campaignHeader"></div>
<form id="newCampaignForm" action="newCampaign" method="post">
    <input name="campaignName" placeholder="New Campaign Name" id="campaignNameTxt"/>
    <div class="planetCreator hidden">
        <div id="planetList">
            {{> newPlanetPartial}}
        </div>
        <div id="newPlanetButton">
            <a href="#">+</a>
        </div>
    </div>
    <input type="submit" value="Done" id="createCampaignBtn" class="hidden" />
</form>
<div id="url" class="hidden">
</div>
<div id="planetCreation">
</div>