extends layout

block content
    #campaignList
        each campaignObject in campaigns
            - campaign = campaignObject.campaign;
            - console.log(campaign)
            li= campaign.name
    
block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/home.js')
    script(src='/js/controllers/homeController.js')
    script(src='/js/form-validators/accountValidator.js')