extends layout

    
block content
    
    
block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/lib/_.js')
    script(src='/js/lib/backbone.js')
    script(src='/js/lib/handlebars.js')
    script(src='/js/views/main.js')
    script(src='/js/views/home.js')
    script(src='/js/router.js')
    script(src='/js/models/models.js')
    script(src='/js/collections/collections.js')
    script(src='/js/controllers/homeController.js')
    script(src='/js/form-validators/accountValidator.js')
    