extends layout

    
block content
    
    
block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/lib/_.js')
    script(src='/js/lib/backbone.js')
    script(src='/js/lib/handlebars.js')
    script(src='/js/router/router.js')
    script(src='/js/models/models.js')
    script(src='/js/models/collections.js')
    script(src='/js/views/templates/templates.js')
    script(src='/js/views/partials/partials.js')
    script(src='/js/controllers/app.js')
    script(src='/js/controllers/controllers.js')
    script(src='/js/form-validators/accountValidator.js')
    
    