extends layout

block content
    #login-container
        h1 CAMPAIGNR
        form(method="post")#login-form.well.span4
            input(type="text", name="user", id="user-tf").span4.required
            input(type="password", name="pass", id="pass-tf").span4.required
            button(type="submit")#btn-login
                | Log in
            a(href="/signup")#create-account Sign up
            .clear-fix
    include modals/alert
    include modals/lost-password

block scripts
    link(rel='stylesheet', href='/css/login-style.css')
    script(src="/vendor/jquery.min.js");
    script(src="/vendor/jquery.form.js");
    script(src="/vendor/bootstrap-modal.js");
    script(src="/vendor/bootstrap-transition.js");
    script(src="/js/views/login.js");
    script(src="/js/node-controllers/loginController.js");
    script(src="/js/form-validators/loginValidator.js");
    script(src="/js/form-validators/emailValidator.js");
