<div class="factionCreationView" data-factionNumber="{{factionNumber}}">
    <div class="removeFactionCreatorButton">
        <a href="#">–</a>
    </div>
    <input name="factionName" placeholder="Faction name" class="factionNameTxt"></input>
</div>