<div class="newPlanet{{planetNumber}}">
    <input name="planetName" placeholder="Planet name" class="planetNameTxt"></input>
    <label name="territoryCount">Number of territories:</label>
    <input type="number" name="territories"></input>
</div>