<div class="planetCreationView" data-planetNumber="{{planetNumber}}">
    <div class="removePlanetCreatorButton">
        <a href="#">–</a>
    </div>
    <input name="planetName" placeholder="Planet name" class="planetNameTxt"></input>
    <label name="territoryCount">Number of territories:</label>
    <input type="number" name="territories" class="territoryCountNumber"></input>
</div>