<div class="planetCreator" data-planetNumber="{{planetNumber}}">
    <input name="planetName" placeholder="Planet name" class="planetNameTxt"></input>
    <label name="territoryCount">Number of territories:</label>
    <input type="number" name="territories" class="territoryCountNumber"></input>
</div>